<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.vrapppractice">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dave APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sheet0"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Refer"
            android:label="@string/title_activity_refer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SheetA"
            android:label="@string/title_activity_sheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebsiteNew"
            android:label="@string/title_activity_website_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LandingPage"
            android:label="@string/title_activity_landing_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".zRegname"
            android:label="Register Name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DCC_Login_or_Reg"
            android:label="Login and Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login_Page"
            android:label="Login Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Page"
            android:label="Registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_Profile"
            android:label="User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EULA"
            android:label="@string/title_activity_eul"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".popupbox"
            android:label="@string/title_activity_popupbox"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>